<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>preServletFilter</filter-name>
        <filter-class>filter.PreServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>preServletFilter</filter-name>
        <servlet-name>helloServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>postServletFilter</filter-name>
        <filter-class>filter.PostServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>postServletFilter</filter-name>
        <servlet-name>helloServlet</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>listener.MyServletContextListener</listener-class>
    </listener>
</web-app>
